   *{
    box-sizing: border-box;
}

body{
    margin: 0;
}

span{
    
    font-size: 1em;
}

h2
{
    margin:0;
}
#photo{
    
    background-image:url(zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
    background-position: center;
    background-size: cover;
    top:0px;
    height:100vh;
    position: relative;
    color:#fff;
    text-transform: uppercase;
}



.napis{
    position: absolute;
    left: 3%;
    top: 42%;
    font-family: verdana;
    }














